body {
    font-family: Arial, sans-serif;
    background-color: #f5f5dc; /* beige background */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #cc00cc; /* darker pink */
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008000; /* darker green */
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #006400; /* even darker green on hover */
}
